:root {
  --main-red-color: #BB2323;
}
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&family=Rufina:wght@400;700&display=swap');



.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-rufina {
  font-family: "Rufina", serif;
}
.font-maitree{
  font-family:"Maitree", serif
}
.grey-section {
  background-color:#F9F9F9;
  }
  .paragraph-text {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    line-height: 2rem;
    text-align: left;

    }
    
    .headline-large {
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 5rem;
    }
    
    .headline-regular {
    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1.5rem;
    }
    
    .ourprocess-title {
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    }
    
    .headline-process {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #BB2323;
    }
    
    .getintouch {
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: 400;
    color: #BB2323;}

    .buttonRed{
      background-color: var(--main-red-color);
      color: white;
      font-size: 26px;
      display: inline-block;
      padding: 0.2em 2em;
      text-align: center;
      }

     .mainWhite{
       background-color: #FFF5F5;
     }

/*
Tab styling
*/

